tr:hover .actionspan {
    visibility: visible;
}

.container {
    margin-top: 10px;
}

.status {
    margin: 0px 5px;
}

.check:hover {
    background-color: #EEEEEE;
}

.selected-check-property:hover i.edit {
    visibility: visible;
    display: inline;
}

.selected-check-property i.edit {
    /*visibility: hidden;*/
    display: none;
}

.outages td {
    border: none;
}

table.outages {
    margin-bottom: 0;
}

.outages .down td {
    background-color: rgba(255, 0, 0, 0.24);
}