tr:hover .actionspan {
    visibility: visible;
}

.container {
    margin-top: 10px;
}

.check:hover {
    background-color: #EEEEEE;
}

.selected-check-property:hover i.edit {
    visibility: visible;
    display: inline;
}

.selected-check-property i.edit {
    /*visibility: hidden;*/
    display: none;
}

.outages td {
    border: none;
}

table.outages {
    margin-bottom: 0;
}

.outages .down td {
    background-color: rgba(255, 0, 0, 0.24);
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: auto;
}
